<p>¡Hola!</p>
<p>¿No puedes recordar tu contraseña para <strong><%= @user.email %></strong>? No te preocupes, es algo normal. Solo haz clic en el enlace de abajo para establecer una nueva contraseña.</p>
<p><%= link_to "Restablecer mi contraseña", edit_identity_password_reset_url(sid: @signed_id) %></p>
<p>Si no solicitaste el restablecimiento de contraseña, puedes ignorar este correo electrónico de manera segura; expirará en 20 minutos. Solo alguien con acceso a esta cuenta de correo electrónico puede restablecer tu contraseña.</p>
<hr>
<p>¿Tienes preguntas o necesitas ayuda? Solo responde a este correo electrónico y nuestro equipo de soporte te ayudará a resolverlo.</p>
