<% if object.errors.any? %>
  <section class="errors">
    <h2>
      Oops! La Información no se pudo guardar.
    </h2>
    <p>
      Se presentaron <%= pluralize(object.errors.count, "errore") %> que impidieron que el perfil del objeto se creara exitosamente.
    </p>
    <h3>
      Por favor corrija los siguientes <%= pluralize(object.errors.size, "errore") %>:
    </h3>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
