<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="square-container">
    <% @actions.each do |option, url| %>
      <div class="btn-group-vertical mb-2">
        <%= link_to option, url, class: "btn btn-primary square-button btn-block btn-lg", "data-bs-toggle": "button", role: "button" %>
      </div>
    <% end %>
  </div>
</div>
