// Colors
$black: #0c0c0c;
$off-white: #ededed;
$dark-gray: #666;
$medium-gray: #6c757d;
$light-gray: #c2c2c2;
$purple: #470247;
$white: #ededed;
$orange: #e8890c;
$yellow: #ffc107;
$light-yellow: #ffc;
$red: #dc3545;

// Custom Variables
$secondary-text-color: $medium-gray;
$accent-color: $orange;
$secondary-link-color: $white;
$border-color: $light-gray;
$error-color: $red;
$error-background-color: $light-yellow;
$sold-out-color: $yellow;
$box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.09);

// Bootstrap Variable Overrides

$body-color: $black;
$body-bg: $off-white;
$primary: $purple;
$secondary: $dark-gray;
$min-contrast-ratio: 4;
$input-bg: white;

// Import Bootstrap Styles

@import "bootstrap";

// Custom CSS

.content {
  @extend .container;
}

a {
  text-decoration: none;
  color: $secondary-link-color;
}

a:hover {
  text-decoration: none;
  color: white
}

// Header and Nav
header {
  background-color: $primary;
  padding: 0.5rem;
  margin-bottom: 3rem;
  height: 10vh;

  nav {
    @extend .navbar, .navbar-expand-md;
    height: 100%;

    img {
      height: 50%;;
      margin-right: 0.5rem;
    }

    a {
      color: $secondary-link-color;
    }

    a.button {
      @extend .btn, .btn-outline-secondary;
    }

    ul {
      @extend .nav, .navbar-nav;
      letter-spacing: 3px;

      &.left {
        @extend .me-auto;
      }

      &.right {
        @extend .ms-auto;
      }

      li {
        @extend .nav-item;
        font-size: 1.1rem;
        margin-right: 5px;

        a {
          @extend .nav-link;
          color: $secondary-link-color;
          padding-bottom: 1px;
        }

        a:hover:not(.button),
        a.active {
          color: $off-white;
          text-decoration: none;
          border-bottom: 1px solid $off-white;
        }

        .button,
        button {
          margin-right: 10px;
          color: $off-white;
          border-color: $off-white;
        }

        .button:hover,
        button:hover {
          background: $off-white;
          color: $primary;
          border-color: $primary;
        }

        button {
          @extend .btn, .btn-outline-secondary;
        }
      }
    }
  }
}
//Header Logo
.logo-container {
  margin-right: 1rem;
    order: -1; // Move the logo container to the beginning

}


// Footer
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  background: $purple;
  color: #470247;
  text-align: center;
  margin-top: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer a {
  color: $secondary-link-color;
}


// Aside

aside {
  h4 {
    color: $secondary-text-color;
    font-size: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.3rem;
    text-transform: uppercase;
    border-bottom: 1px solid $border-color;
  }

  ul {
    list-style: none;
    padding-left: 0.25rem;

    li {
      padding-bottom: 0.5rem;
    }
  }
}

// Forms

form.button_to {
  display: inline;
}

.form-row {
  margin-bottom: 20px;
  margin-left: 20px !important;
}

.radio-options {
  display: flex;
}

.radio-input {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

form:not([class="button_to"]) {
  max-width: 503px;
  margin-top: 1.5rem;

  label {
    @extend .form-label;
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
  }

  input:not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="submit"]),
  textarea,
  select:not(.date) {
    @extend .form-control;
    margin-bottom: 0.75rem;
    width: 100%;
    height: 100%;
  }

  select.date {
    @extend .form-select;
    width: auto;
    display: inline-block;
    margin-bottom: 0.75rem;
  }

  input[type="submit"] {
    @extend .btn, .btn-primary;
    display: block;
    width: 100%;
    margin-top: 1.5rem;
  }

  input[type="checkbox"] {
    @extend .form-check-input;
    width: 20px;
    height: 20px;
  }

  input[type="checkbox"] + label {
    @extend .form-check-label;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
  }

  input[type="radio"] {
    @extend .form-check-input;
    width: 20px;
    height: 20px;
  }

  input[type="radio"] + label {
    @extend .form-check-label;
    margin-bottom: 0.6rem;
    font-weight: 400;
  }

  input[type="file"] {
    margin-bottom: 0.75rem;
    width: 100%;
  }


  .checkboxes {
    @extend .form-check;
    margin-top: 1.5rem;
  }

  div.field_with_errors {
    display: inline;
    label {
      color: $error-color;
    }
    input,
    textarea,
    select {
      background: $error-background-color !important;
    }
  }
}

// Flashes

.flash {
  @extend .alert;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;

  &.notice {
    @extend .alert-success;
  }

  &.alert {
    @extend .alert-danger;
  }
}

// Errors
section.errors {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: 0.3rem;
  background: $error-background-color;

  h2 {
    color: $error-color;
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
  }
}
//Square Button Class
.square-button {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5vh 1vh;
  font-size: calc(0.8vh + 0.8vw);
  color: white;
  background-color: $purple;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: $purple;
    color: $white;
  }
}
